@import '../Layout/Layout.scss';

.return-back {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  @include breakpoint(xs) {
    gap: 7px;
  }

  &:hover {
    color: #622626;
  }

  &:hover .return-back__vector svg path {
    fill: #622626;
  }

  &__text {
    font-size: 12px;
    color: #919191;
  }

  &__vector svg {
    margin-top: -2px;

    @include breakpoint(xs) {
      max-width: 40px;
    }
  }
}
