.return-back {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: 575.98px) {
    gap: 7px;
    align-items: end;
  }

  &:hover {
    color: #622626;
  }

  &:hover .return-back__vector {
    background: #622626;
  }

  &__text {
    font-size: 12px;
  }

  &__vector {
    width: 59px;
    height: 15px;
    background: url('../images/catalog/vector_left.svg') no-repeat;
    mask: url('../images/catalog/vector_left.svg') no-repeat;

    @media screen and (max-width: 575.98px) {
      width: 40px;
      height: 15px;
      background-size: 100% 100%;
      mask-size: 100% 100%;
    }
  }
}
