@import '../../components/Layout/Layout.scss';

.contacts {
  position: relative;

  &__body {
    position: relative;
    z-index: 2;
    line-height: 1.5;
    padding: 90px 0 40px;
  }

  &__breadCrumbs {
    margin: -50px 0 20px;

    @include breakpoint(xs) {
      margin: -75px 0 20px;
    }
  }

  &__goToTop {
    text-align: center;
    margin: -75px 0 0px;

    @include breakpoint(sm) {
      margin: -75px 0 20px;
    }
  }

  &__info {
    text-align: end;
    font-size: 24px;
    font-weight: 600;

    @include breakpoint(md) {
      font-size: 18px;
    }

    @include breakpoint(sm) {
      font-size: 16px;
    }

    @include breakpoint(xs) {
      font-size: 15px;
    }
  }

  &__text-question {
    margin-bottom: 5px;
    font-weight: 500;
  }

  &__slogan {
    background-color: #d8c562;
    color: #ffffff;
    padding: 2px 5px;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    @include breakpoint(md) {
      justify-content: space-around;
    }

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 100px;
    font-weight: 700;
    color: #909090;

    @include breakpoint(lg) {
      font-size: 80px;
    }

    @include breakpoint(md) {
      font-size: 60px;
      padding: 10px 0 0;
    }

    @include breakpoint(sm) {
      font-size: 47px;
      padding: 0px 0 0;
      order: 2;
    }

    @include breakpoint(xs) {
      font-size: 40px;
    }
  }

  &__title span {
    color: #18362b;
  }

  &__subtitle {
    font-size: 35px;
    line-height: 120%;
    font-weight: 700;

    @include breakpoint(md) {
      font-size: 22px;
    }

    @include breakpoint(sm) {
      align-self: flex-end;
      font-size: 16px;
      padding: 15px 5px 0;
    }
  }

  &__subtitle span {
    display: block;
    font-size: 45px;

    @include breakpoint(md) {
      font-size: 28px;
    }

    @include breakpoint(sm) {
      font-size: 21px;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 70px;

    @include breakpoint(lg) {
      gap: 30px;
      margin-top: 90px;
    }

    @include breakpoint(md) {
      flex-wrap: wrap;
      max-width: 700px;
      margin: 110px auto 0;
    }

    @include breakpoint(sm) {
      gap: 60px;
      max-width: 330px;
      margin: 40px auto 0;
    }

    @include breakpoint(xs) {
      gap: 40px;
    }
  }

  &__column {
    position: relative;
    flex: 0 1 33.333%;
    background-color: #e9e9e9;
    border-radius: 20px;
    padding: 40px 30px 35px;
    box-shadow: 5px 30px 20px rgba(0, 0, 0, 0.25);
    line-height: inherit;

    @include breakpoint(lg) {
      padding: 40px 15px 35px;
    }

    @include breakpoint(md) {
      flex: 1 1 300px;
      padding: 40px 15px 25px;
    }

    @include breakpoint(sm) {
      flex: 1 1 100%;
      padding: 40px 20px 30px;
    }

    @include breakpoint(xs) {
      padding: 30px 20px 10px;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon img {
    @include breakpoint(xs) {
      max-width: 50px;
    }
  }

  &__image-decor {
    position: absolute;
    top: -70px;
    right: -70px;
    z-index: 3;

    @include breakpoint(lg) {
      top: -100px;
      right: -70px;
    }

    @include breakpoint(md) {
      top: -95px;
      right: -55px;
    }

    @include breakpoint(sm) {
      top: 390px;
      right: -40px;
    }

    @include breakpoint(xs) {
      // top: 373px;
      // right: -10px;
      top: 385px;
      right: -10px;
    }
  }

  &__image-decor img {
    @include breakpoint(md) {
      max-width: 122px;
    }

    @include breakpoint(sm) {
      max-width: 95px;
    }

    @include breakpoint(xs) {
      max-width: 70px;
    }
  }

  &__service {
    margin-bottom: 15px;
    color: #909090;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;

    @include breakpoint(md) {
      font-size: 20px;
      margin-bottom: 10px;
    }

    @include breakpoint(sm) {
      font-size: 20px;
      margin-bottom: 3px;
    }

    @include breakpoint(xs) {
      font-size: 18px;
    }
  }

  &__service,
  &__text,
  &__title {
    line-height: inherit;
  }

  &__text {
    padding-top: 10px;
  }

  &__text p {
    color: #4e4e4e;
    font-size: 0.9em;
  }

  &__text span {
    font-weight: 700;
  }

  &__contacts-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @include breakpoint(lg) {
      min-height: 320px;
    }

    @include breakpoint(md) {
      flex-direction: row;
      justify-content: space-around;
      min-height: 170px;
      padding: 0 20px;
    }

    @include breakpoint(sm) {
      flex-direction: column;
      justify-content: space-between;
    }

    @include breakpoint(xs) {
      gap: 20px;
      padding: 10px 0px 20px;
    }
  }

  &__image-contacts-box {
    text-align: center;
    margin-top: 10px;

    @include breakpoint(md) {
      margin-top: 0px;
    }

    @include breakpoint(sm) {
      margin-top: 15px;
    }

    @include breakpoint(xs) {
      margin-top: 10px;
    }
  }

  &__image-contacts-box img {
    @include breakpoint(sm) {
      max-width: 169px;
    }

    @include breakpoint(xs) {
      max-width: 133px;
    }
  }

  &__list {
    font-size: 20px;

    @include breakpoint(xs) {
      font-size: 16px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__item img {
    margin-right: 15px;
  }
}
