.navbar-categories {
  position: relative;
  z-index: 2;
  padding: 10px 60px 52px 60px;
  background-color: #D8C562;

  @media screen and (max-width: 991.98px) {
    padding: 5px 60px 40px 50px;
  }

  @media screen and (max-width: 575.98px) {
    padding: 5px 10px 20px 40px;
  }

  &__list>*:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (max-width: 991.98px) {
      margin-bottom: 15px;
    }
  }

  &__item {
    font-size: 28px;
    text-transform: uppercase;

    @media screen and (max-width: 991.98px) {
      font-size: 24px;
    }

    @media screen and (max-width: 767.98px) {
      font-size: 22px;
    }

    @media screen and (max-width: 575.98px) {
      font-size: 16px;
    }
  }

  &__link::before,
  &__link-esoteric::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #18362B;
  }

  &__link::before {
    width: 10px;
    height: 10px;

    @media screen and (max-width: 991.98px) {
      width: 8px;
      height: 8px;
    }

    @media screen and (max-width: 767.98px) {
      width: 6px;
      height: 6px;
      margin-right: 8px;
    }
  }

  &__link,
  &__link-esoteric {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &__list-esoteric {
    padding: 0px 0 5px 40px;

    @media screen and (max-width: 767.98px) {
      padding: 0px 0 5px 30px;
    }
  }

  &__list-esoteric>*:not(:last-child) {
    margin-bottom: 5px;
  }

  &__link-esoteric {
    font-size: 21px;

    @media screen and (max-width: 991.98px) {
      font-size: 20px;
    }

    @media screen and (max-width: 767.98px) {
      font-size: 18px;
    }

    @media screen and (max-width: 575.98px) {
      font-size: 14px;
    }
  }

  &__link-esoteric::before {
    width: 7px;
    height: 7px;

    @media screen and (max-width: 991.98px) {
      width: 6px;
      height: 6px;
    }

    @media screen and (max-width: 767.98px) {
      width: 4px;
      height: 4px;
      margin-right: 6px;
    }
  }
}
