@import '../Layout/Layout.scss';

.title-blog {
  &__text {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.25;

    @include breakpoint(sm) {
      font-size: 50px;
    }

    @include breakpoint(xs) {
      font-size: 40px;
    }
  }
}
