@import '../../components/Layout/Layout.scss';

.blog {
  background-color: #f4f4f4;
  position: relative;

  &__body {
    margin: 0 auto;
    padding: 40px 0;

    @include breakpoint(sm) {
      padding: 40px 0px 20px;
    }

    @include breakpoint(xs) {
      padding: 15px 10px 20px;
    }
  }

  &__title {
    margin: 30px 0;
    text-align: center;

    @include breakpoint(sm) {
      margin: 30px 0 10px;
    }

    @include breakpoint(xs) {
      margin: 20px 0 10px;
    }
  }

  &__cards-blog {
    @include breakpoint(sm) {
      margin-top: 10px;
    }
  }
}

.card-blog {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 50px 0;

  @include breakpoint(md) {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 30px 30px 30px 60px;
    font-size: 16px;
  }

  @include breakpoint(sm) {
    padding: 30px 50px 30px 50px;
  }

  @include breakpoint(xs) {
    padding: 40px 10px;
  }

  &__info {
    max-width: 470px;
  }

  &__icon-and-title {
    font-size: 35px;
    color: #1e1e1e;

    @include breakpoint(xs) {
      font-size: 28px;
    }
  }

  &__icon-and-title span {
    display: block;
    padding-top: 5px;
    font-size: 18px;

    @include breakpoint(xs) {
      min-width: 50px;
      font-size: 14px;
    }
  }

  &__subtitle {
    margin-top: 25px;
    line-height: 1.3;
  }

  &__button {
    align-self: center;
    padding: 17px 50px;

    @include breakpoint(md) {
      align-self: center;
      padding: 17px 50px;
    }

    @include breakpoint(sm) {
      padding: 15px 40px;
    }

    @include breakpoint(xs) {
      padding: 14px 30px;
    }
  }
}

.blog-about {
  @include breakpoint(md) {
    flex-wrap: nowrap;
    gap: 60px;
    padding: 50px 30px 50px 60px;
  }

  @include breakpoint(sm) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 30px 50px 30px 50px;
  }

  @include breakpoint(xs) {
    padding: 40px 10px;
  }

  &__image {
    max-width: 210px;

    @include breakpoint(sm) {
      order: 2;
      max-width: 100%;
    }
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    flex: 0 1 470px;
  }

  &__subtitle {
    line-height: 1.3;
  }
}

.card-events:hover {
  color: #e9e9e9;
  background-image: url('../../components/images/blog_image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__date {
    color: #d8c562;
  }
}

.blog__card-events:hover .icon-title__icon {
  background: url('../../components/images/icon_eye_yellow.svg') center no-repeat;
  background-size: 100% 100%;
}

.blog__card-events:hover .icon-title__title {
  color: #e9e9e9;
}

.blog__card-events:hover .card-blog__icon-and-title span {
  color: #d8c562;
}
