*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
  object-fit: cover;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

body {
  line-height: 1;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #18362B;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;

  @media screen and (max-width: 1199.98px) {
    max-width: 1050px;
  }

  @media screen and (max-width: 991.98px) {
    max-width: 984px;
  }

  @media screen and (max-width: 767.98px) {
    max-width: none;
  }
}

._image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

._separator {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 0 auto;
}

._title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  color: #4E4E4E;

  @media screen and (max-width: 1199.98px) {
    font-size: 20px;
  }

  @media screen and (max-width: 575.98px) {
    font-size: 18px;
  }
}

._title-with-back {
  font-size: 24px;

  @media screen and (max-width: 575.98px) {
    font-size: 19px;
  }
}

._button {
  align-self: self-end;
  color: #18362B;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 70px;
  text-align: center;
  background: #D8C562;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  @media screen and (max-width: 991.98px) {
    font-size: 16px;
    padding: 12px 50px;
  }

  @media screen and (max-width: 575.98px) {
    padding: 7px 30px;
    font-size: 14px;
  }
}

._button:hover {
  background: #f8cd25;
  transition: 0.2s;
}

._vector {
  :hover {
    color: black;
  }
}

//для всех слайдеров
.slider {
  min-width: 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
  padding: 5px 0;
}

.slick-track {
  display: flex;
  gap: 5px;
}

.slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 26px;
  height: 20px;
}

//для слайдеров в Каталоге
.slider-items .slick-arrow {
  top: -30px;

  @media screen and (max-width: 575.98px) {
    top: 200px;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
  }
}

.slider-items .slick-arrow.slick-prev {
  background: url('../images/arrow_left.svg') 0 0 / 100% no-repeat;
  left: 87%;

  @media screen and (max-width: 767.98px) {
    left: 84%;
  }

  @media screen and (max-width: 575.98px) {
    background: url('../images/serif_left.svg') center no-repeat;
    left: calc(10% - 30px);
  }
}

.slider-items .slick-arrow.slick-next {
  background: url('../images/arrow_right.svg') 0 0 / 100% no-repeat;
  right: 5%;

  @media screen and (max-width: 991.98px) {
    right: 3%;
  }

  @media screen and (max-width: 575.98px) {
    background: url('../images/serif_right.svg') center no-repeat;
    right: calc(10% - 30px);
  }
}
