@import '../Layout/Layout.scss';

.section-items {
  padding-top: 20px;

  @include breakpoint(xs) {
    padding-top: 10px;
  }

  &_first {
    margin-top: 35px;

    @include breakpoint(md) {
      margin-top: 55px;
    }

    @include breakpoint(xs) {
      margin-top: 35px;
    }
  }

  &__header-box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin-bottom: 10px;

    @include breakpoint(xs) {
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__return-back {
    @include breakpoint(xs) {
      margin-bottom: 0px;
    }
  }
}
