.section-items {
  padding-top: 50px;

  &__header-box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin-bottom: 10px;

    @media screen and (max-width: 575.98px) {
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__return-back {
    @media screen and (max-width: 575.98px) {
      margin-bottom: 0px;
    }
  }
}
