@import '../Layout/Layout.scss';

.section-items {
  padding-top: 50px;

  &_first {
    margin-top: -50px;
  }

  &__header-box {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin-bottom: 10px;

    @include breakpoint(xs) {
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__return-back {
    @include breakpoint(xs) {
      margin-bottom: 0px;
    }
  }
}
