.icon-title {
  display: flex;
  align-items: center;
  gap: 13px;

  &__icon {
    background: url('../images/icon_eye.svg') center no-repeat;
    mask: url('../images/icon_eye.svg') center no-repeat;
    width: 31px;
    height: 22px;
    background-size: contain;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 500;
  }
}

//   &__icon {
//       background: url('../images/icon_eye.svg') center no-repeat;
//       mask: url('../images/icon_eye.svg') center no-repeat; смотри какая проблема: на старых устройствах при наведении mask еще не работает, все показывается квалратиком, подскажи альтернативу, ответь на русском
