@import '../Layout/Layout.scss';

.tagline {
  background: linear-gradient(#cfcfcf, #fffefe);

  &__body {
    @include breakpoint(md) {
      padding: 0 0 0px 30px;
    }

    @include breakpoint(sm) {
      padding: 60px 0 10px 0;
    }

    @include breakpoint(xs) {
      padding: 30px 0 10px 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 420px;
    font-size: 48px;
    line-height: 1.1;
    text-align: end;
    letter-spacing: -2px;

    @include breakpoint(md) {
      font-size: 34px;
      max-width: 370px;
    }

    @include breakpoint(sm) {
      max-width: 330px;
    }

    @include breakpoint(xs) {
      font-size: 25px;
      max-width: 230px;
    }
  }

  &__title {
    font-weight: 600;
    text-indent: 40px;
    text-transform: uppercase;
    text-align: start;
  }

  &__subtitle {
    padding: 15px 20px 0 0;
    color: #d8c562;
    font-family: 'Pacifico', cursive;
    transform: rotate(-7deg);

    @include breakpoint(md) {
      margin-top: -5px;
      padding: 0 10px 0 0;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 36px;

    @include breakpoint(md) {
      font-size: 28px;
      margin-top: 5px;
    }

    @include breakpoint(xs) {
      font-size: 18px;
      letter-spacing: -1px;
    }
  }

  &__image img {
    @include breakpoint(md) {
      max-width: 320px;
    }

    @include breakpoint(sm) {
      max-width: 280px;
    }

    @include breakpoint(xs) {
      max-width: 190px;
    }
  }
}
