.event-card {
  background-color: #ededed;
  border: 1px solid #4E4E4E;
  border-radius: 10px;
}

.event-card {
  :hover {
    background-color: #faf9f9;
    border-radius: 10px;
  }

  &__body {
    display: flex;
    gap: 40px;
    line-height: 1.5;
    color: #1E1E1E;
    text-align: start;
    padding: 35px 35px 35px 40px;

    @media screen and (max-width: 767.98px) {
      flex-direction: column;
      gap: 10px;
      padding: 35px 25px 15px 25px;
    }

    @media screen and (max-width: 575.98px) {
      gap: 0px;
      padding: 20px 15px 15px 15px;
    }
  }

  &__info-fairs {
    min-width: 280px;

    @media screen and (max-width: 575.98px) {
      min-width: 250px;
    }
  }
}

.info-event>div:not(:last-child) {
  margin-bottom: 24px;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}

.info-event {
  font-weight: 700;
  letter-spacing: -1.7px;
  position: relative;

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }

  &__image {
    position: relative;
    height: 220px;
    width: 220px;

    @media screen and (max-width: 767.98px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 575.98px) {
      height: 200px;
      width: 200px;
    }
  }

  &__image img {
    border-radius: 10px;
  }

  &__title {
    font-size: 24px;

    @media screen and (max-width: 767.98px) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    @media screen and (max-width: 767.98px) {
      font-size: 18px;
    }
  }
}

.date {
  line-height: 1.1;
  font-size: 30px;

  &__number {
    font-size: 50px;
    margin: 0 7px 0 0px;

    @media screen and (max-width: 991.98px) {
      font-size: 42px;
    }

    @media screen and (max-width: 767.98px) {
      font-size: 38px;
    }
  }

  &__year {
    font-size: 20px;
    line-height: 1.8;
    position: absolute;
    bottom: 0;

    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }
}

.description-event>*div:not(:last-child) {
  margin-bottom: 20px;
}

.description-event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-weight: 800;
  }

  &__text {
    font-size: 16px;
  }

  &__text p {
    margin-bottom: 20px;
  }

  &__info {
    align-self: end;
  }
}
