.sectionEsotericCards {
  // padding-top: 30px;

  &__title { //обратить внимание
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.slider-sectionEsotericCards .slick-track {
  position: relative;
  z-index: 1;
}

.slider-sectionEsotericCards .slick-arrow {
  top: -10%;
}

.slider-sectionEsotericCards .slick-arrow.slick-prev {
  background: url('../images/arrow_rigth.svg') 0 0 / 100% no-repeat;
  left: 87%;
}

.slider-sectionEsotericCards .slick-arrow.slick-next {
  background: url('../images/arrow_left.svg') 0 0 / 100% no-repeat;
  right: 5%;
}
