@import '../Layout/Layout.scss';

.goToTop {
  display: inline-flex;
  align-items: center;
  flex-direction: column;

  &__title {
    order: 2;
    margin-top: -5px;
    font-size: 17px;

    @include breakpoint(sm) {
      font-size: 15px;
    }
  }

  &__image {
    width: 35px;
    height: 35px;

    @include breakpoint(sm) {
      width: 30px;
      height: 30px;
    }
  }
}
