@import '../Layout/Layout.scss';

.footer {
  position: relative;

  &__body {
    padding: 60px 160px 40px;
    line-height: 1.5;
    color: #f6f6f6;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 0;

    @include breakpoint(lg) {
      padding: 60px 100px 30px;
    }

    @include breakpoint(md) {
      padding: 60px 60px 30px;
      gap: 40px 0;
    }

    @include breakpoint(sm) {
      padding: 50px 60px 20px;
    }

    @include breakpoint(xs) {
      padding: 30px 30px 15px;
      gap: 15px 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    @include breakpoint(md) {
      justify-content: start;
      padding-top: 10px;
    }

    @include breakpoint(sm) {
      padding-top: 10px;
    }

    @include breakpoint(xs) {
      align-items: center;
    }
  }

  &__logo {
    max-width: 154px;

    @include breakpoint(sm) {
      max-width: 140px;
    }
  }

  &__name {
    font-size: 14px;

    @include breakpoint(sm) {
      font-size: 12px;
    }
  }

  &__name span {
    font-size: 14.5px;

    @include breakpoint(sm) {
      font-size: 12.5px;
    }
  }

  &__navbar {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include breakpoint(md) {
      font-size: 16px;
    }
  }

  &__navbar .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;

    @include breakpoint(xs) {
      align-items: center;
    }
  }

  &__navbar .navbar__list > *:not(:first-child) {
    margin-top: 12px;
  }

  &__navbar .navbar__list > *:nth-child(3) {
    text-transform: uppercase;
    padding-top: 3px;
  }

  &__goToTop {
    align-self: flex-end;

    @include breakpoint(xs) {
      align-self: center;
    }
  }

  &__copyright {
    flex: 0 1 100%;
    font-size: 16px;
    text-align: center;

    @include breakpoint(md) {
      font-size: 12px;
    }

    @include breakpoint(xs) {
      font-size: 8px;
      margin-top: 15px;
    }
  }
}
